
body {
	background-color: #F9F9F9;
	font-family: arial, sans-serif;
	font-size: 12pt;
}
li {
	display: inline;	
}
.unav {
	color: black;
	padding-left: 20px;
	font-size: 12pt;
}
#tnav {
	position: absolute;
	/*bottom: 8px;*/
	right: 30px;
}
#logo {
	margin: auto;
	display: block;
	margin-top: 20px;
}
#centernav {
	text-align: center;
	width: 100%;
}
input[type=text] {
	width: 50%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	display: block;
	height: 30px;
	font-size: 25pt;
}
input[type=submit] {
	width: 10%;
	/*margin: auto;*/
	height: 50px;
	font-size: 15pt;
	
}
.bnav {
	color: grey;
	padding-left: 27px;
}
.unav {
	color: black;
}
#footer {
	position: relative;
	
	width: 100%;
	height: 30px;
	background-color: #DDD;
	margin: 20px 0px;
}
#botlnav {
	position: absolute;
	/*bottom: 8px;*/
	top: -10px;
}
#botrnav {
	position: absolute;
	/*bottom: 8px;*/
	top: -10px;
	right: 30px;
}
a:link {
	text-decoration: none;
}
.lhpl {
	color: grey;
}
.lhpl:link {
	text-decoration: none;
}
.lhpl:hover {
	text-decoration: underline;
}